extends layout

block content
    h1= title
    br
    br
    p
        | We Apply Innovative Quotient for building business solutions with right technologies that gives high quality experience to the business.
    p
        | Our Packaged Application solutions for SMSE (Small and Medium Scale Enterprises), enables them to achieve operational efficiencies and gives them the power to make faster and predictive decisions for building successful business.
    p
        | With wide and deep understanding on product and application life cycle, with diverse and rich experience in Test and quality engineering we partner and stand by rock solid with our customers, to enable them in accomplishing their business and technology goals.