extends layout

block content
    h1= title
    br

    .mask
        ul.images
            li
                img(src="../images/home-about-company-1.png")
            li
                img(src="../images/slider-image2.png")
            li
                img(src="../images/slider-image3.png")
            li
                img(src="../images/slider-image4.png")
            li
                img(src="../images/slider-image5.png")
            li
                img(src="../images/slider-image6.png")
            li
                img(src="../images/slider-image7.png")
        ul.triggers
            li
                nbsp
            li
                nbsp
            li
                nbsp
            li
                nbsp
            li
                nbsp
            li
                nbsp
            li
                nbsp
    br
    .home-about-company

        .welcome-note-left
            h3
                span.title

                | Welcome
            p
                | We Apply Innovative Quotient for building business solutions with right technologies that gives high quality experience to the business.
            p
                | Our Packaged Application solutions for SMSE (Small and Medium Scale Enterprises), enables them to achieve operational efficiencies and gives them the power to make faster and predictive decisions for building successful business.
            p
                | With wide and deep understanding on product and application life cycle, with diverse and rich experience in Test and quality engineering we partner and stand by rock solid with our customers, to enable them in accomplishing their business and technology goals.

        .welcome-note-right
            h3
                | Our Specialities
            ul
                li
                    |  Enablers for Success
