extends layout

block content
    h1= title

    p
        | Bisolq provide methodical and implementation feed back loop based trainings for corporates to support our customers team skill enhancement goals.
    p
        | We provide trainings both at Onsite or at Offshore in Bisolq state of art training facility
    p
        | Trainings are imparted at different levels from fresher’s to Senior Practitioners like Managers, Leads
    p
        | Trainings are associated with practical examples of problem solving components and certifications
    p
        | Following are the areas of Training provided:
    ul
        li
            Project Management in Testing
        li
            Test life cycle and Test Metrics,
        li
            When to Say Yes and No --- Assertiveness in Testing with Acceptance.
        li
            Automation Testing with Selenium
        li
            Automation Testing with UFT, Coded UI
        li
            Test Data Management
        li
            Risk Based Testing.
        li
            Test Estimations
        li
            Effective Test Case Design.
        li
            Preparing for Test Certifications.
