extends layout

block content
    h1= title

    p
        | In this service line Bisolq build applications specific to the industry especially Manufacturing, Healthcare, Banking and Finance, Commodity Trading, Logistics, Transportation, Education.
    p
        | These applications are aimed to solve the operational problems in the areas of Inventory, Sales, Accounts, Production, Human resources, Security and provide strategic decision and direction making ability to the customers.
    p
        | Applications are designed leveraging Mobile, Cloud, Analytics, Web based and desktop solutions to give the best experience to the users meeting all their business needs and information for intime and right decisions for successful business.