extends layout

block content
    h1= title

    ul
        li
            a(href="#global-test-delivery") Global Test Delivery
        li
            a(href="#Flexible-Resource-Augmentation") Flexible Resource Augmentation
        li
            a(href="#Agile-Test-Practices") Agile Test Practices
        li
            a(href="#Test-Incubation") Test Incubation
        li
            a(href="#End-to-End-Automation") End-to-End Automation
        li
            a(href="#Test-Advisory-and-Transformation-Services") Test Advisory and Transformation Services

    h3#global-test-delivery Global Test Delivery
    p
        | In this type of engagement total test ownership for customer application(s), Product(s), Portfolio of applications, platform(s), is supported with Onsite-Offshore, Near Shore, Offshore only to ensure anytime, continuous support to the customers.
    p
        | This engagement model is designed to help customers to completely leverage Best Practices, Innovative Solutions, World class processes, Propritery frameworks and State of the art facility of BisolQ with
        | strong experienced teams.
    p
        | In this type of engagement Functional testing , Automation testing, Performance testing, Security
        | Testing, all or specific type of testing is covered. This model is designed to deliver continuous improvement for efficiency with bespoke solutions to the customers that reduces TCO on testing over the engagement period.
    p
        | This model is most successful for the customers when the need is verify and validate the applications products, Leveraging Bisolq expertise
    p
        | To Quickly build experienced team to support the testing needs that quickly integrates productively with the project teams, with minimal TCO for customer.
    p
        | Drive the engagement on SLAs and Output based

    h3#Flexible-Resource-Augmentation Flexible Resource Augmentation

    p
        | This engagement model helps customers to fill domain/technology expert resources for specific needs in testing in areas of functional, Automation, Performance, Security testing
    p
        | While it helps in fulfillment of consultants/experts/resources for specific needs of testing, it also leverages best practices, proprietary frameworks of Bisolq
    p
        | In this model consultants/experts/resources work at Onsite/Offshore/Near Shore as required by the customer
    p
        | Its most successful for customers giving the flexibility to take decisions on loading and ramping down resources with zero cost of ownership. Bisolq’s unique propositions in resource augmentation translates cost benefits and flexibility in decision making for the customers, this engagement is driven on SLAs and output based.

    h3#Agile-Test-Practices Agile Test Practices

    p
        | In this offering Bisolq helps customers in building Agile test practices like SCRUM, TDD using Scaled Agile Framework and practices
    p
        | Bisolq approach to integrate with the existing agile teams is a seamless process with high yield and FAST learning  curve.
    p
        | This model is designed for Onsite/ Onsite-Offshore/ Offshore alignment.
    p
        | This model covers Functional, Automation, Performance, Security testing.

    h3#Test-Incubation Test Incubation
    p
        | This service line is built for Testing services for Portfolio of applications of customer, using Bisolq best practices, world class processes, proprietary frameworks.
    p
        | This model uses Build – Operate and Transfer approach best suited for customers setting up test CoEs and practices.
    p
        | The engagement uses Onsite-Offshore approach for delivering output.
    p
        | It encompasses Functional, Automation, Performance, Security testing types and The model is driven by SLAs and output based.

    h3#End-to-End-Automation End-to-End Automation
    p
        | Bisolq supports customers with End-to-End Automation service by establishing automation for Funational, Performance, Security testing.
    p
        | The approach comprehensively covers establishing /improving automation Process, Practices and Tools for the customers, using both Open source and licensed products/tools.
    p
        | This service includes maintenance activities for automation and integration services with Build/Deploy environments.
    p
        | The model is driven by SLAs and output based.

    h3#Test-Advisory-and-Transformation-Services Test Advisory and Transformation Services
    p
        | In this service, Bisolq with its vast experience in testing and comprehensive approach, supports customers to assess their current opportunities, maturity, challenges in testing  process, tools and practices to provide roadmap to go to next level  of quality.
    p
        | The approach that’s used for Advisory and Transformation services is based on qualitative and quantitative approaches like TMMi, Lean, Six Sigma.
    p
        | This service helps customers to alleviate their current challenges to move to the next level and scale up in quality.